@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  animation: scroll 40s linear infinite;
}

.scroll-container:hover {
  animation-play-state: paused;
}

@media (max-width: 640px) {
  .scroll-container {
    animation-duration: 25s;
  }
}

@media (max-width: 480px) {
  .scroll-container {
    animation-duration: 20s;
  }
}

/* Hide Scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}